<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error - Student Not Found.</h1>
        <h2>No student bearing that ID in the system. Navigate back to @Html.ActionLink("List Students", "ListStudents", "Student").</h2>
    </hgroup>
</body>
</html>
